* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


$color-primario: #fff;

$color-secundario: #f2f2f2;

$color-terciario: #ccc;


h1,
h2 {
  font-family: 'Sedgwick Ave Display', cursive;
}

h3 {
  font-family: 'DynaPuff', cursive;
}

p {
  font-family: 'Roboto Mono', monospace;
}