.background-imagen-nosotros {
    background-image: url('./Imagenes/simpsons\ banner-homero.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
  
  .text-container-nosotros {
    padding: 50px;
    color: black;
    text-align: center;

    & h2{
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    & p{
        font-size: 1.5rem;
        line-height: 1.5;
    }

  }

.nosotros {
    background-color: #f8f8f8;
    padding: 80px 0;

    & h2{
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
    }

    &-container{
        display: flex;
        justify-content: space-around;
    }

    &-card{
        width: 300px;
        padding: 30px;
        background-color: $color-primario;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;

        & img{
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 20px;
        }

        & h3{
            font-size: 24px;
            margin-bottom: 10px;
        }

        & p{
            font-size: 16px;
            color: #555;
            line-height: 1.5;
        }
    }
  }

  @media (max-width: 1000px) {
    .nosotros-container {
      flex-direction: column;
      align-items: center;
    }
    .nosotros-card{
      margin: 15px;
    }
    
  }