.container-carousel{
    width: 100%;
    margin-top: 20px;
    height: 600px;
    border-bottom: thin black 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    align-content:center;
    background-color: #dee2e6;
    }

.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%; 

    &__tarjeta{
        width: 100%;
        height: 100%;
    }
    &__arrows{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        
        &> i:hover {
            cursor: pointer;
        }

        & > a > i{
            color: black;
        }
    }
}

#itemCarrousel-1{
    background-image: url(./Imagenes/carusel1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    

}

#itemCarrousel-2{
    background-image: url(./Imagenes/carusel2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#itemCarrousel-3{
    background-image: url(./Imagenes/carusel3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    & > a{
        text-decoration: none;
        font-size: 2em;
        color: grey;
    }
}

