.footer {
    width: 100%;
    background-color: #333;
    color: $color-primario;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    z-index: 9999;

    &-container {
        width: min(1200px, 100%);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        display: flex;
        align-items: center;

        & img {
            height: 50px;
        }

        & h3 {
            margin-left: 10px;
            font-size: 1.5em;
        }
    }
}

.footer-social {
    text-align: center;

    & h3 {
        margin-bottom: 20px;
    }
}

.social-icons {
    display: flex;
    justify-content: center;

    & a {
        color: $color-primario;
        margin: 0 10px;
        font-size: 1.5em;
        transition: color 0.3s ease;

        &:hover {
            color: #aaa;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
}
